/* ------------------- Responsive Code ------------------ */

/* ------------------- For 992PX ------------------ */
@media (max-width: 992px) {
    .nav-menu {
      margin-left: 0;
      justify-content: center;
      padding: 10px 0;
    }
  
    .navbar-nav {
      text-align: center;
      width: 100%;
    }
  
    .button-87 {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  
    .logo {
      width: 60%;
    }
  
    /* Icon Box section */
    .boxstyle {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 0px !important;
    }
  
    .infoicon {
      width: 45%;
      margin: 10px;
    }
  
    #boxicon {
      font-size: 60px;
    }
  }
  
  /* ------------------- For 768PX ------------------ */
  @media (max-width: 768px) {
    .nav-menu {
      font-size: 16px;
      padding: 15px 0px;
      margin-left: 0px !important;
    }
  
    .button-87 {
      font-size: 14px;
    }
  
    .logo {
      width: 70%;
    }
  
    .homebody {
      padding: 30px;
    }
  
    .homeheadh5 {
      font-size: 1.75rem !important;
    }
  
    .homeheadh1 {
      font-size: 1.6rem !important;
    }
  
    .homeparagraph {
      font-size: 1.25rem !important;
    }
  
    .homeimg {
      max-height: 300px !important;
    }
  
    .abouttext, .visioncontent {
      text-align: center;
      padding: 20px;
    }
  
    .aboutimg {
      margin-bottom: 20px;
      width: 80% !important;
    }
  
    .abouttext h1, .visioncontent h1 {
      font-size: 24px;
    }
  
    .abouttext p, .visioncontent p {
      font-size: 16px;
      padding: 10px !important;
    }
  
    .indheadtext, .servicehead h1 {
      font-size: 1.8rem !important;
    }
  
    .serviceheadtext {
      font-size: 17px !important;
      padding: 0px 20px;
    }
  
    .cardimage {
      width: 50% !important;
    }
  
    .product-header h2, .blog-content h2 {
      font-size: 1.8rem !important;
      margin-top: 30px !important;
      padding-top: 10px !important;
    }
  
    .footer-end-section h5 {
      font-size: 1rem !important;
    }
  }
  
  /* ------------------- For 576PX ------------------ */
  @media (max-width: 576px) {
    .contact-header {
      font-size: 1.3rem;
    }
    .form-label, .right-text {
      font-size: 0.9rem;
    }
    .contact-icon {
      font-size: 1.3rem;
    }
    .contact-btn {
      font-size: 0.8rem;
      padding: 6px 12px;
    }
    .logo {
      width: 30% !important;
    }
  }
  
  /* ------------------- For 480px ------------------ */
  @media (max-width: 480px) {
    .nav-menu {
      font-size: 12px !important;
    }
  
    .button-87 {
      font-size: 13px;
      padding: 10px !important;
      width: 95%;
    }
  
    .logo {
      width: 30% !important;
    }
  
    .headicon {
      font-size: 20px !important;
    }
  
    .industriescard {
      padding: 20px !important;
    }
  
    #indcardicon {
      font-size: 50px !important;
    }
  
    .homebody {
      padding: 20px;
    }
  
    .homeheadh5 {
      font-size: 1.5rem;
      margin-bottom: 12px;
    }
  
    .homeparagraph {
      font-size: 1rem;
      padding: 0px !important;
      margin: 0px !important;
    }
  
    .boxstyle {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .infoicon {
      width: 80%;
      margin: 10px;
    }
  
    #boxicon {
      font-size: 50px;
    }
  
    .icon-box {
      padding: 30px !important;
    }
  
    .navdetails {
      font-size: 0.8rem !important;
      text-align: center;
      padding-left: 20px !important;
      margin-bottom: 5px;
    }

    .cardcontainerindus {
    grid-template-columns: repeat(auto-fit, minmax(120px, 2fr));
    grid-gap: 50px;
    gap: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    }

    .indtext2 {
        font-size:16px;

    }

    .indparatext {
        padding: 15px ;
    }


  }
